{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="DjangoX logo"/>
  <p class="lead">A Django starter project with batteries.</p>
  	<ul>
  		<li>revoir pipfile (MàJ version ?)</li>
		<li>vérifer version bootstrap, jquery, toastr, pretty-checkbox </li>
		<li>attention version jqery pour toastr => tester </li>
		<li>copier les imports de views.py</li>
		<li>copier services.py</li>
		<li>supprimer le dossier page </li>
  		<li>rajouter middleware django.middleware.locale.LocaleMiddleware</li>
</div>
{% endblock content %}
